@{
	var specifications = new MobilePhoneStoreDBMS.Models.Entities.MobilePhoneStoreDBMSEntities().GetSpecifications(ViewBag.ProID);
}

<div class="menu_body2">

	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Name</td>
				<td>Value</td>
			</tr>
		</thead>

		<tbody>
			@foreach (var specification in specifications)
			{
				<tr>
					<td>
						@specification.specification
					</td>
					<td>
						@specification.Value
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>
