
<div class="search-bar">
	<form action="/HomeScreen/ProductsOfSearch">
		<input type="text" value="@ViewBag.search" name="search"><input type="submit" value="Tìm kiếm" />
	</form>
</div>
<div class="clear"> </div>
